{% extends "modules/base.html" %}
{% block title %}Список пользователей{% endblock %}
{% block content %}
<h2>Список пользователей</h2>
<table class="table">
    <thead>
        <tr>
            <th>Имя пользователя</th>
            <th>Email</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>
                <a href="{% url 'users:user_profile' %}">{{ user.first_name }}</a>
            </td>
            <td>{{ user.email }}</td>
            <td>
                <a href="{% url 'users:user_profile' %}" class="btn btn-info">Просмотр</a>
                {% if user == request.user %}
                <a href="{% url 'users:profile_update' %}" class="btn btn-warning">Изменить</a>
                {% endif %}
                {% if user != request.user and request.user.is_superuser %}
                <a href="{% url 'users:user_delete' user.pk %}" class="btn btn-danger">Удалить</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if request.user.is_superuser %}
<a href="{% url 'users:register' %}" class="btn btn-success">Создать нового пользователя</a>
{% endif %}
{% endblock %}